<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="WcR2.Network" type="WzComparerR2.Network.NetworkConfig, WzComparerR2.Network, Version=2.2.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="WcR2.MapRender" type="WzComparerR2.MapRender.Config.MapRenderConfig, WzComparerR2.MapRender, Version=2.2.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="WcR2" type="WzComparerR2.Config.WcR2Config, WzComparerR2, Version=2.2.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="WcR2.CharaSim" type="WzComparerR2.Config.CharaSimConfig, WzComparerR2, Version=2.2.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="WcR2.ImageHandler" type="WzComparerR2.Config.ImageHandlerConfig, WzComparerR2, Version=2.2.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <WcR2.Network>
        <logLevel value="Info" />
        <nickName value="No Name #7785" />
        <wcID value="9c5b2083-945e-4b77-b1ec-92b01ad0adca" />
        <servers value=":2100;:2101;:2102;:2103;:2104" />
    </WcR2.Network>
    <WcR2.MapRender>
        <volume value="1" />
        <muteOnLeaveFocus value="true" />
        <clipMapRegion value="true" />
        <defaultFontIndex value="0" />
        <useD2DRenderer value="false" />
        <topBar.Visible value="false" />
        <minimap.CameraRegionVisible value="false" />
        <worldMap.UseImageNameAsInfoName value="false" />
    </WcR2.MapRender>
    <WcR2.CharaSim>
        <selectedFontIndex value="0" />
        <autoQuickView value="false" />
        <skill showID="true" showProperties="true" showDelay="true" showReqSkill="true"
            displayCooltimeMSAsSec="true" displayPermyriadAsPercent="true"
            defaultLevel="LevelMax" intervalLevel="10" />
        <gear showID="true" showWeaponSpeed="true" showLevelOrSealed="true"
            showMedalTag="false" />
        <item showID="true" linkRecipeInfo="true" linkRecipeItem="true"
            showNickTag="false" />
        <recipe showID="true" />
        <mob showID="true" />
        <npc showID="true" />
    </WcR2.CharaSim>
    <WcR2>
        <mainStyle value="Office2007VistaGlass" />
        <mainStyleColor value="DimGray" />
        <sortWzOnOpened value="true" />
        <autoDetectExtFiles value="true" />
        <recentDocuments>
            <clear />
            <add hash="9589c2bc-d820-4f9a-a3a7-b9a6f7532a18" value="C:\Nexon\MapleStory_zh\Mob.wz" />
            <add hash="17630eb5-77d0-49bf-a9d3-e2809fbfa092" value="C:\Nexon\MapleStory\Mob.wz" />
            <add hash="d675af40-dd18-43d3-a737-0084d1a894fb" value="C:\Nexon\MapleStory\Npc.wz" />
            <add hash="924be2ea-4567-4098-9322-fd1c58fe4c0d" value="C:\Users\jackyan\Desktop\083cn\Npc.wz" />
            <add hash="0d2da67f-37c2-4303-b770-c8ec69350827" value="C:\Game\MapleStory客户端083\Base.wz" />
            <add hash="8b9f0c0e-81ca-4847-a048-ae82a4fef054" value="C:\Game\MapleMemory083\Base.wz" />
            <add hash="8aed59b3-4e84-4843-9eb8-b5a651e1d639" value="C:\Game\MapleStory客户端083\String.wz" />
            <add hash="34437e7b-2c7c-452c-835b-bbbf8f7e1d44" value="D:\冒险岛\079\全中文冒险岛单机\Base.wz" />
            <add hash="6aff9ed5-dc0b-4c9d-8fa8-e940e8f1738d" value="C:\Game\MapleStory客户端083\UI.wz" />
            <add hash="47815cc7-72db-42d9-b4ab-e310d11198e4" value="C:\Game\085\Base.wz" />
        </recentDocuments>
        <comparerOutputFolder value="" />
        <sortWzByImgID value="false" />
        <wzEncoding value="0" />
        <imgCheckDisabled value="false" />
        <patcherSettings>
            <clear />
        </patcherSettings>
    </WcR2>
    <WcR2.ImageHandler>
        <backgroundColor value="White" />
        <backgroundType value="Transparent" />
        <minMixedAlpha value="0" />
        <minDelay value="30" />
        <autoSavePictureFolder value="" />
        <autoSaveEnabled value="false" />
        <savePngFramesEnabled value="false" />
        <gifEncoder value="0" />
        <mosaicInfo color0="" color1="" blockSize="0" />
        <imageNameMethod value="Default" />
        <paletteOptimized value="false" />
    </WcR2.ImageHandler>
</configuration>